<p align="right" style="font-family:Arial; size:12pt">
	Cidade Universit&aacute;ria Zeferino Vaz, {$dia1} de {$mes3} de {$ano2}.</p>
<p align="left" style="font-family:Arial; size:12pt">
	<b>MEMO. CPO n&deg;: {$numeroMEMO}/{$anoE}</b><br />
	Ref.: {$ref}<br />
	Assunto: {$assunto}
	
	</p>
<p align="left" style="font-family:Arial; size:12pt">
	Destinat&aacute;rio: {$destMEMO}<br />
</p>
<p align="left" style="font-family:Arial; size:12pt">
	{$conteudo}</p>
<div style="display: block; page-break-inside: avoid;">
	<p align="center" style="font-family:Arial; size:12pt">
		<br />
		<b>{$Autor_descr} {$Autor_nomeCompl}</b><br />
		{$Autor_cargo} CPO/Unicamp<br />
		Matr. {$Autor_matricula}</p>
</div>
