<style type="text/css">
p,td {font-family: Arial, sans-serif;}
table,tr,td {
	margin: 0;
	border-spacing: 0;
	border: 1px solid black;
	text-align: center;
	min-width: 20px;
}

table {width: 98%}
</style>

<p style="text-align:center; font-weight:bold">Registro de Entrada de Protocolo {$cod_barras}</p>
<table>
	<tr>
		<td style="text-align: left; padding: 3px;">N&uacute;m. Processo: <b>{$num_processo}</b></td>
		<td style="text-align: left; padding: 3px;">Data: <b>______ / ______ / 20____</b></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: left; padding: 3px;">Obra/Projeto: <b>{$nome_obras}</b></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: left; padding: 3px;">Emissor: <b>{$empresa_contr}</b></td>
		<!-- <td style="text-align: left; padding: 3px;">Interessado: <b></b></td> -->
	</tr>
</table>

<table>
	<tr>
		<td>X</td>
		<td>ID</td>
		<td>Documento</td>
		<td>X</td>
		<td>ID</td>
		<td>Documento</td>
	</tr>
	<tr>
		<td></td>
		<td>1</td>
		<td style="text-align: left;">ART</td>
		<td></td>
		<td>19</td>
		<td style="text-align: left;">Nota fiscal</td>
	</tr>
	<tr>
		<td></td>
		<td>2</td>
		<td style="text-align: left;">As built</td>
		<td></td>
		<td>20</td>
		<td style="text-align: left;">Notifica&ccedil;&atilde;o</td>
	</tr>
	<tr>
		<td></td>
		<td>3</td>
		<td style="text-align: left;">Ata de reuni&atilde;o</td>
		<td></td>
		<td>21</td>
		<td style="text-align: left;">Parecer t&eacute;cnico</td>
	</tr>
	<tr>
		<td></td>
		<td>4</td>
		<td style="text-align: left;">CD</td>
		<td></td>
		<td>22</td>
		<td style="text-align: left;">Projeto</td>
	</tr>
	<tr>
		<td></td>
		<td>5</td>
		<td style="text-align: left;">Certid&atilde;o CREA</td>
		<td></td>
		<td>23</td>
		<td style="text-align: left;">Proposta / Planilha / Or&ccedil;amento</td>
	</tr>
	<tr>
		<td></td>
		<td>6</td>
		<td style="text-align: left;">Composi&ccedil;&atilde;o de Pre&ccedil;os Unit&aacute;rios (CPU)</td>
		<td></td>
		<td>24</td>
		<td style="text-align: left;">Protocolo PPCI</td>
	</tr>
	<tr>
		<td></td>
		<td>7</td>
		<td style="text-align: left;">Convoca&ccedil;&atilde;o de empresa / unidade</td>
		<td></td>
		<td>25</td>
		<td style="text-align: left;">Relat&oacute;rio de acompanhamento</td>
	</tr>
	<tr>
		<td></td>
		<td>8</td>
		<td style="text-align: left;">Credenciamento de Colabor(es)</td>
		<td></td>
		<td>26</td>
		<td style="text-align: left;">Relat&oacute;rio de atividades</td>
	</tr>
	<tr>
		<td></td>
		<td>9</td>
		<td style="text-align: left;">Cronograma f&iacute;sico / f&iacute;sico-financeiro</td>
		<td></td>
		<td>27</td>
		<td style="text-align: left;">Relat&oacute;rio de intercorr&ecirc;ncia</td>
	</tr>
	<tr>
		<td></td>
		<td>10</td>
		<td style="text-align: left;">Croqui</td>
		<td></td>
		<td>28</td>
		<td style="text-align: left;">Relat&oacute;rio de pend&ecirc;ncias</td>
	</tr>
	<tr>
		<td></td>
		<td>11</td>
		<td style="text-align: left;">Curva ABC</td>
		<td></td>
		<td>29</td>
		<td style="text-align: left;">Relat&oacute;rio fotogr&aacute;fico</td>
	</tr>
	<tr>
		<td></td>
		<td>12</td>
		<td style="text-align: left;">Di&aacute;rio de obra</td>
		<td></td>
		<td>30</td>
		<td style="text-align: left;">Solicita&ccedil;&atilde;o de aditivo/supress&atilde;o de <br>prazo, valor ou reequil&iacute;brio</td>
	</tr>
	<tr>
		<td></td>
		<td>13</td>
		<td style="text-align: left;">Email</td>
		<td></td>
		<td>31</td>
		<td style="text-align: left;">Solicita&ccedil;&atilde;o de Atestado de Capacidade T&eacute;cnica</td>
	</tr>
	<tr>
		<td></td>
		<td>14</td>
		<td style="text-align: left;">Garantia</td>
		<td></td>
		<td>32</td>
		<td style="text-align: left;">Solicita&ccedil;&atilde;o de retirada de material</td>
	</tr>
	<tr>
		<td></td>
		<td>15</td>
		<td style="text-align: left;">Manual</td>
		<td></td>
		<td>33</td>
		<td style="text-align: left;">Solicita&ccedil;&atilde;o de trabalho</td>
	</tr>
	<tr>
		<td></td>
		<td>16</td>
		<td style="text-align: left;">Medi&ccedil;&atilde;o</td>
		<td></td>
		<td>34</td>
		<td style="text-align: left;">Subcontrato</td>
	</tr>
	<tr>
		<td></td>
		<td>17</td>
		<td style="text-align: left;">Mem&oacute;ria de c&aacute;lculo</td>
		<td></td>
		<td>35</td>
		<td style="text-align: left;">Termo de recebimento Provis&oacute;rio ou Definitivo</td>
	</tr>
	<tr>
		<td></td>
		<td>18</td>
		<td style="text-align: left;">Memorial descritivo</td>
		<td></td>
		<td>36</td>
		<td style="text-align: left;">Outros</td>
	</tr>
</table>

<p style="size: 14px; font-weight: bold;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
<p>Recibo de Protocolo (destacar e entregar ao emissor) {$cod_barras}</p>

<table>
	<tr>
		<td style="text-align: left; padding: 3px;">N&uacute;m. Processo: <b>{$num_processo}</b></td>
		<td style="text-align: left; padding: 3px;">Data: <b>______ / ______ / 20____</b></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: left; padding: 3px;">Obra/Projeto: <b>{$nome_obras}</b></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: left; padding: 3px;">Emissor: <b>{$empresa_contr}</b></td>
		<!-- <td style="text-align: left; padding: 3px;">Interessado: <b></b></td> -->
	</tr>
</table>

<p></p>
<div style="align:center">
<table><tr>
<td><p style="align:center">1</p></td>
<td><p style="align:center">2</p></td>
<td><p style="align:center">3</p></td>
<td><p style="align:center">4</p></td>
<td><p style="align:center">5</p></td>
<td><p style="align:center">6</p></td>
<td><p style="align:center">7</p></td>
<td><p style="align:center">8</p></td>
<td><p style="align:center">9</p></td>
<td><p style="align:center">10</p></td>
<td><p style="align:center">11</p></td>
<td><p style="align:center">12</p></td>
<td><p style="align:center">13</p></td>
<td><p style="align:center">14</p></td>
<td><p style="align:center">15</p></td>
<td><p style="align:center">16</p></td>
<td><p style="align:center">17</p></td>
<td><p style="align:center">18</p></td>
</tr> 
<tr>
<td><p style="align:center">19</p></td>
<td><p style="align:center">20</p></td>
<td><p style="align:center">21</p></td>
<td><p style="align:center">22</p></td>
<td><p style="align:center">23</p></td>
<td><p style="align:center">24</p></td>
<td><p style="align:center">25</p></td>
<td><p style="align:center">26</p></td>
<td><p style="align:center">27</p></td>
<td><p style="align:center">28</p></td>
<td><p style="align:center">29</p></td>
<td><p style="align:center">30</p></td>
<td><p style="align:center">31</p></td>
<td><p style="align:center">32</p></td>
<td><p style="align:center">33</p></td>
<td><p style="align:center">34</p></td>
<td><p style="align:center">35</p></td>
<td><p style="align:center">36</p></td>
</tr></table>
</div>